<!DOCTYPE html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <link rel="stylesheet" href="./cart.css">


</head>

<body class="container-fluid">
  
    <div class="container bg-primary ">
      <p>您的訂購清單</p>
      <div class="row order-list-upper bg-light align-items-center justify-content-around m-auto p-3">
        <img class="d-block col-sm-2 col-4 img-fluid" src="../../imgs/dark_cabinet.png" alt="" />
        <div class=" col-sm-10 col-8  row align-items-center d-flex justify-content-center ">
          <div class="col-sm-6 col-12 ">
            <p><strong>Menu Curiosity Cabinet H168cm 珍古系列 橡木 收納 櫥櫃</strong> </p>
            <p><strong> 款式 </strong>橡木原色(Natural Oak)</p>
            <p><strong>價格</strong> NT$ 12,000</p>
          </div>
          <div class="col-sm-3 col-12">
            <input type="number" placeholder="數量" class="amount-input p-1" min="1"  />
          </div>
          <div class="col-sm-3 row col-12 ">
            <p class=" col-sm-9 col-12 my-2 ">NT$ 12,000</p>
            <i class="col-sm-3 col-12 fa-solid fa-circle-xmark "></i>
          </div>
        </div>
      </div>
      <div class="row justify-content-center order-list-lower mt-4 m-auto ">
        <div class="col  d-none d-sm-inline-block ">
          <div class="d-flex justify-content-between ">
            <input type="text" placeholder="折扣碼" class="p-2 ">
            <button class="primary-300 btn">套用</button>
          </div>
          <hr class="">
          <div class="div-price mt-4 d-flex flex-column justify-content-between">
            <div  class="d-flex justify-content-between ">
              <strong class="">總金額</strong>
              <span class="">$ 36,000</span>
            </div>
            <div class=" d-flex justify-content-between">
              <strong class="">運費</strong>
              <span class=" ">自動計算運費</span>
            </div>
          </div>
        </div>
        <div class="col m-auto pt-2">
          <p>如需填寫統編、公司抬頭，或其它需求，可備註於此欄中</p>
          <textarea name="" id="" cols="30" rows="10" class="p-2" placeholder="特殊需求備註："></textarea>
        </div>
        <div class="">
          <hr>
          <div class="d-flex justify-content-between ">
            <strong class="">總金額</strong>
            <p class="">NT$ 36,000 </p>
          </div>
          <button class="primary-3000 btn btn-pay mb-1 ">結帳</button>
          <!-- rwd 變成 -->
        </div>
        <p class="m-auto"  >繼續購物</p>
      </div>
    </div>
</body>

</html>